<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dist/main.css">
    <title>Login</title>
</head>

<body class="bg-stone-50">
    <div class="w-11/12 md:w-1/2 mx-auto mt-32 flex flex-col items-center bg-white bg-opacity-70 border border-stone-100 shadow-slate-100 shadow-lg rounded-xl p-3 md:p-6">
        <h4 class="text-center text-2xl">Login</h4>

        <form method="post" id="loginForm" class="w-full md:w-10/12 lg:w-3/4 p-3 my-2">
            <div class="my-3">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Username" class="form-input" autocomplete="off" required>
            </div>
    
            <div class="my-3">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password" class="form-input" required>
            </div>
    
            <div class="mt-6 text-center">
                <button class="px-6 py-1.5 rounded-md bg-green-400 transition hover:bg-green-500 shadow-sm shadow-slate-400">Login</button>
            </div>

            <div>
                <a href="/signup" class="mx-2 text-gray-600">Create new account</a>
            </div>
        </form>
    </div>
    
    <script src="socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        let form = document.getElementById('loginForm');
        form.onsubmit = function(e) {
            e.preventDefault();
    
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            let form = {
                username,
                password
            };
    
            fetch('/login', {
                method: 'POST', 
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(form)
            })
            .then(res => res.json())
            .then(data => {
                if(data.status) {
                    localStorage.setItem('user', JSON.stringify(data.user));
                    socket.emit('connected', data.user._id);

                    setTimeout(() => {
                        window.location.href = "/";
                    }, 500);
                }
                else {
                    alert(data.message);
                }
            })
            .catch((err) => {
                console.log(err);
            });
        }
    </script>
</body>
</html>