<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>
    <div>
        <h4>Signup</h4>
    
        <form method="post" id="signupForm">
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Username" required>
            </div>
    
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>

            <div>
                <label for="confirmpassword">Confirm Password</label>
                <input type="password" name="password" id="confirmpassword" placeholder="Confirm Password" required>
            </div>
    
            <div>
                <button>Signup</button>
            </div>
        </form>
    </div>
    
    <script>
        let form = document.getElementById('signupForm');
        form.onsubmit = function(e) {
            e.preventDefault();
    
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            const confirmpassword = document.getElementById('confirmpassword').value;

            if(password != confirmpassword) {
                alert('The password doesn\'t match confirmed password !');
                return false;
            }

            let form = {
                username,
                password
            };
    
            fetch('http://localhost:8000/signup', {
                method: 'POST', 
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(form)
            })
            .then(res => res.json())
            .then(data => {
                if(data.status) {
                    localStorage.setItem('user', JSON.stringify(data.user));
                    localStorage.setItem('token', JSON.stringify(data.token));
                }
                else {
                    alert(data.message);
                }
            })
            .catch((err) => {
                console.log(err);
            });
        }
    </script>
</body>
</html>