<div class="flex items-center justify-between bg-white shadow-sm px-5">
    <div class="flex items-center">
        <a href="/" class="mx-3">
            <img src="/images/logo.png" alt="logo" width="100">
        </a>
        
        <a href="/" class="mx-3 hover:border-b hover:border-b-gray-500">
            home <i class="fa-solid fa-house"></i>
        </a>

        <a href="/people" class="mx-3 hover:border-b hover:border-b-gray-500">
            people <i class="fa-solid fa-people-group"></i>
        </a>

        <a href="/chats" class="mx-3 hover:border-b hover:border-b-gray-500">
            chats <i class="fa-solid fa-comments"></i>
        </a>
    </div>
   
    <% if(user) { %>
        <div>
            <a href="/logout">
                logout <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </a>
        </div>
    <% } %>
</div>