<div class="flex items-center justify-between md:justify-start bg-white shadow-sm md:px-5 h-24">
    <a href="/" class="mx-3">
        <img src="/images/logo.png" alt="logo" width="100">
    </a>

    <div class="md:w-[90%]">
        <button class="block md:hidden w-9 p-1 mx-1" id="menu-btn">
            <i class="fa-solid fa-bars"></i>
        </button>

        <div class="flex flex-col md:flex-row absolute md:relative top-24 md:top-0 right-0 md:right-auto w-full bg-white z-10 p-4 overflow-y-hidden collapse-header-menu" style="transition: 1s" id="header-menu-items">
            <a href="/" class="mx-3 my-1 hover:border-b hover:border-b-gray-500">
                home <i class="fa-solid fa-house"></i>
            </a>

            <a href="/people" class="mx-3 my-1 hover:border-b hover:border-b-gray-500">
                people <i class="fa-solid fa-people-group"></i>
            </a>

            <a href="/chats" class="mx-3 my-1 hover:border-b hover:border-b-gray-500">
                chats <i class="fa-solid fa-comments"></i>
            </a>

            <% if(user) { %>
                <a href="/logout" class="mr-3 ml-3 my-1 hover:border-b hover:border-b-gray-500 md:ml-auto">
                    logout <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </a>
            <% } %>
        </div>
    </div>
   
  

   
</div>