<div class="messages-layout">
    ...
</div>

<div class="message-form-layout">
    <form method="post" id="message-form">
        <input type="text" name="message" id="message" placeholder="Type message here" required>
        <button type="button" id="send-message-btn">send</button>
    </form>
</div>