<div class="messages-layout">
    <div class="message-item">
        sasdasd
    </div>
</div>

<div class="message-form-layout">
    <form action="" method="post" id="message-form">
        <input type="text" name="message" id="message" placeholder="Type message here" required>
        <button id="send-message-btn">send</button>
    </form>
</div>