<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dist/main.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css" />
    <title>People</title>
</head>

<body>
    <%- include('layouts/header.ejs'); %>

    <div class="flex">
        <div class="w-1/5 h-screen flex flex-col bg-black py-2">
            <button id="explore_btn" class="people-menu-item active">Explore</button>
            <button id="friends_btn" class="people-menu-item">Friends</button>
            <button id="requests_btn" class="people-menu-item">Requests</button>
        </div>

        <div class="w-4/5 p-4 bg-black bg-opacity-5">
            <div class="people-layout">
                <% for(let i = 0; i < unfriendPeople.length; i++) { %>
                    <div class="person-item">
                        <span class="person-name"><%= unfriendPeople[i].username %></span>
                        <div>
                            <button class="people-operation-btn request-friend-btn bg-green-400" data-userId="<%= unfriendPeople[i]._id %>">request</button>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

    <script>
        const explore_btn = document.getElementById('explore_btn');
        const friends_btn = document.getElementById('friends_btn');
        const requests_btn = document.getElementById('requests_btn');
        handleClickEventOnMenuItem(explore_btn, "explore");
        handleClickEventOnMenuItem(friends_btn, "friends");
        handleClickEventOnMenuItem(requests_btn, "requested");

        function handleClickEventOnMenuItem(btn, action_type) {
            btn.addEventListener('click', function() {
                getPeople(action_type);
                document.querySelector('.active').classList.remove('active');
                btn.classList.add('active');
            });
        }
    

        handleFriendOperations();

        function handleFriendOperations() {
            const addFriendBtns = document.querySelectorAll('.request-friend-btn');
            addFriendBtns.forEach(addFriendBtn => {
                addFriendBtn.addEventListener('click', async function() {
                    let answer = confirm('Are you sure to add friend ?');
                    if(answer) {
                        const user_id = this.getAttribute('data-userId');
                        let response = await toggleFriendConnection("request", user_id);
                        console.log(response);
                        let user = JSON.parse(localStorage.getItem('user'));
                        user.friends = response;
                        localStorage.setItem('user', JSON.stringify(user));
                    }
                });
            });

            const removeFriendBtns = document.querySelectorAll('.remove-friend-btn');
            removeFriendBtns.forEach(removeFriendBtn => {
                removeFriendBtn.addEventListener('click', async function() {
                    let answer = confirm('Are you sure to remove friend ?');
                    if(answer) {
                        const user_id = this.getAttribute('data-userId');
                        let response = await toggleFriendConnection("remove", user_id);
                        console.log(response);
                        let user = JSON.parse(localStorage.getItem('user'));
                        user.friends = response;
                        localStorage.setItem('user', JSON.stringify(user));
                    }
                });
            });

            const accpetFriendBtns = document.querySelectorAll('.accept-friend-btn');
            accpetFriendBtns.forEach(accpetFriendBtn => {
                accpetFriendBtn.addEventListener('click', async function() {
                    const user_id = this.getAttribute('data-userId');
                    let response = await responseFriendRequest("accept", user_id);
                    console.log(response);
                    accpetFriendBtn.parentElement.remove();
                    let user = JSON.parse(localStorage.getItem('user'));
                    user.friends = response;
                    localStorage.setItem('user', JSON.stringify(user));
                });
            });

            const declineFriendBtns = document.querySelectorAll('.decline-friend-btn');
            declineFriendBtns.forEach(declineFriendBtn => {
                declineFriendBtn.addEventListener('click', async function() {
                    let answer = confirm('Are you sure to decline friend ?');
                    if(answer) {
                        const user_id = this.getAttribute('data-userId');
                        let response = await responseFriendRequest("decline", user_id);
                        console.log(response);
                        declineFriendBtn.parentElement.remove();
                        let user = JSON.parse(localStorage.getItem('user'));
                        user.friendship_requests = response;
                        localStorage.setItem('user', JSON.stringify(user));
                    }
                });
            });
        }


        function getPeople(type) {
            fetch(`/api/people?type=${type}`, {
                headers: {'Content-Type': 'application/json'}
            })
            .then((res) => res.json())
            .then((response) => {
                const list = response.list;
                let htmlItems = "";
                list.forEach((person) => {
                    htmlItems+= `<div class="person-item">`;               
                    htmlItems+= `<span class="person-name">${person.username}</span>`;               
                    htmlItems+= `<div>`;               

                    if(type == 'friends') {
                        htmlItems+= `
                            <button class="people-operation-btn remove-friend-btn bg-red-400" data-userId="${person._id}">remove</button>
                        `;
                    }
                    else if(type == 'explore') {
                        htmlItems+= `
                            <button class="people-operation-btn request-friend-btn bg-green-400" data-userId="${person._id}">request</button>
                        `;
                    }
                    else if(type == 'requested') {
                        htmlItems+= `
                            <button class="people-operation-btn accept-friend-btn bg-green-400" data-userId="${person._id}">accept</button>
                            <button class="people-operation-btn decline-friend-btn bg-red-400" data-userId="${person._id}">decline</button>
                        `;
                    }
                    htmlItems+= `</div>`;
                    htmlItems+= `</div>`;
                });
                document.querySelector('.people-layout').innerHTML = htmlItems;
                handleFriendOperations();
            });
        }

        async function toggleFriendConnection(required_action, user_id) {
            return await fetch(`/api/people/${required_action}/${user_id}`, {
                headers: {'Content-Type': 'application/json'},
                method: 'POST'
            })
            .then((res) => res.json())
            .then((response) => response);
        }

        async function responseFriendRequest(required_action, user_id) {
            return await fetch(`/api/response-friend-request/${required_action}/${user_id}`, {
                headers: {'Content-Type': 'application/json'},
                method: 'POST'
            })
            .then((res) => res.json())
            .then((response) => response);
        }
    </script>
</body>
</html>